---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='News'
  description='infoStrikes News | All the news the deep state hides in their hidden tunnels underground.'
  pageTitle='infoSTRIKES! News'
>
  <main class='bg-green p-6'>
    <BlogList posts={posts} />
  </main>
</Layout>
